<!DOCTYPE html>
<html lang="zxx">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashion Shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../static/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>${{ total }}</span></div>
        </div>
        <div class="humberger__menu__widget">

            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="store/index/">Home</a></li>
                <li><a href="shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="shop-details.html">Shop Details</a></li>
                        <li><a href="shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="checkout.html">Check Out</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>

        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa-solid fa-envelope"></i> thuantv503@gmail.com</li>
                <li>Free Shipping for all Order</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa-solid fa-envelope"></i> thuantv503@gmail.com</li>
                                <li>Free Shipping for all Order</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">

                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                <li>
                                    <a class="btn btn-link" href="#"><i class="fa-solid fa-user"></i> {{ user.first_name }}({{ user.username }})</a>
                                    <a class="btn btn-link" href="{% url 'store:logout' %}">Logout</a>
                                </li>
                                {% else %}
                                <li>
                                    <form class="form-inline" action="{% url 'store:login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Username" name="username" >
                                            <input type="password" class="form-control" placeholder="Password" name="password" >
                                            <button class="btn btn-primary" type="submit">Login</button>
                                            <a class="btn btn-link" href="{% url 'store:registration' %}" >Sign Up</a>
                                        </div>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/store"><img src="../static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/store">Home</a></li>
                            <li><a href="shop-grid.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="checkout.html">Check Out</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="{% url 'store:cart' %}"><i class="fa-solid fa-cart-shopping"></i> <span class="total-quantity">{{ total_quantity }}</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span class="total-price">${{ total }}</span></div>
                    </div>

                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="{{ product.image.url }}" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name}}</h3>
                        <div class="product__details__price">${{ product.price }}</div>
                        <p>{{ product.description}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="dec qtybtn">-</span>
                                    <input type="hidden" class="product-id" value="{{ product.id }}">
                                    <input type="text" value="{{ product_quantity|default:1 }}">
                                    <span class="inc qtybtn">+</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="primary-btn add-to-cart">ADD TO CART</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: Thành phố Hồ Chí Minh</li>
                            <li>Điện thoại: +0987654321</li>
                            <li>Email: thuantv503@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function() {
            var proQty = $('.pro-qty');
            proQty.on('click', '.qtybtn', function() {
                var $button = $(this);
                var $parent = $button.closest('.pro-qty');
                var productId = $parent.find('.product-id').val();
                var $input = $parent.find('input[type="text"]');
                var oldValue = $input.val();
                var newVal;

                if ($button.hasClass('inc')) {
                    newVal = parseFloat(oldValue) + 1;
                } else {
                    if (oldValue > 1) { // Ensure the quantity doesn't go below 1
                        newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 1;
                    }
                }

                $input.val(newVal);
            });

            $('.add-to-cart').on('click', function(e) {
                e.preventDefault();
                var $parent = $(this).closest('.product__details__text').find('.pro-qty');
                var productId = $parent.find('.product-id').val();
                var quantity = $parent.find('input[type="text"]').val() || 1; // Default quantity is 1

                $.ajax({
                    url: "{% url 'store:update_cart' %}",
                    method: 'POST',
                    data: {
                        'product_id': productId,
                        'quantity': quantity,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        // Update total quantity and total price on success
                        $('.total-quantity').text(response.total_quantity);
                        $('.total-price').text('$' + response.total);

                        // Update sub_total for the specific cart item if applicable
                        var $cartItem = $('.cart-item[data-product-id="' + response.product_id + '"]');
                        if ($cartItem.length) {
                            var $subTotalElement = $cartItem.find('.shoping__cart__total');
                            $subTotalElement.text('$' + response.quantity * response.price);
                            if (response.quantity === 0) {
                                $cartItem.remove();
                            }
                        }
                    },
                    error: function(response) {
                        console.log('Error:', response);
                    }
                });
            });
        });
    </script>


</body>

</html>